.sct_separator {
    display: block;
    width: 100%;
    text-align: center;

    background-color: black;
    color: white;
}
.sct_header {
    display: block;
    width: 100%;
    font-size: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
}
.sct_separator > span {
    text-transform: uppercase;
}
.sct_separator.sct_subsection {
    background-color: gray;
}
